<div class="container-fluid">
  <ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', jobs_path %></li>
  <li><%= link_to 'New Job', new_job_path %></li>
</ul>
</div>
