<nav class="navbar navbar-default" role="navigation" style='background-color:#333'>
  <div class="container">
    <div class="navbar-header">
    <img src="https://www.revisionmilitary.com/static/frontend/Revision/revision_theme/en_US/images/logo.png" alt="" width="495" height="82">
    </div>
  </div>
</nav>
