<style>

</style>
<nav class="navbar navbar-default" role="navigation" style='background-color:#333'>
  <div class="container">
    <div class="navbar-header">
      <img src="https://www.revisionmilitary.com/static/frontend/Revision/revision_theme/en_US/images/logo.png" alt="" width="495" height="82">

      <%= link_to "/about" do %>
        <span
          title="Click here for more about this application"
          class="glyphicon glyphicon-info-sign"
          style="color:white; font-size:25px; vertical-align:top; position:absolute; right:5px; margin-top:5px">
        </span>
      <% end %>
      
    </div>
  </div>
</nav>
