<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Lots View', jobs_path %></li>
  <li><%= link_to 'New Lot', new_job_path %></li>
  <li><%= link_to 'Parts View', parts_path %></li>
  <li><%= link_to 'New Part', new_part_path %></li>
</ul>

<h1>About this Application</h1>
  <p>
    The Lens Testing Application offers a comprehensive solution for Lens Testing.
    It provides a single online location for conducting and recording the many tests that Revision Lenses require.
    It aims to reduce the amount of time spent setting up test, recording data, analyzing data, and entering the data into a database,
    so that you can spend your time testing and evaluating product.
  </p>
  <h2>Table of Contents<h2>
    <h4>
      <ul>
        <li><a href="#creation">Creating a Lot</a></li>
        <li><a href="#testing">Testing a Lot</a></li>
        <li><a href="#completion">Completing a Lot</a></li>
        <li><a href="#alert">Automatic Lot Generation</a></li>
    </h4>